<h1>
	FiddyFiddy
	<small class="text-muted">Make Picks. Win Ether.</small>
</h1>
<h2>Welcome Friends and Prognosticators</h2>
<p class="lead">FiddyFiddy is a fun way for sports fans to try and guess the winner of a contest. Players receive a ticket into FiddyFiddy in exchange for Ether and the players with the most winning picks will receive a prize, which is also paid out in Ether. In this first edition of FiddyFiddy, we focus on the upcoming conference tournaments and the big 64 tournament for the United States college basketball season. If this strikes your fancy, read on and start playing!</p>
<h2>How does it work?</h2>
<h4>First, you need some Ether.</h4>
<p>If you are unfamiliar with blockchain and transacting with cryptocurrencies, it's a lot easier than you think. We believe the best way to get started is to:</p>
<ol>
	<li>Download the Brave browser <small class="text-muted">Need to verify site and add affiliate link here</small></li>
	<li>Install <a href="https://metamask.io/" target="_blank">MetaMask</a> extension</li>
	<li>Purchase Ether with <a href="https://changelly.com/?ref_id=3754b23c841b" target="_blank">Changelly</a></li>
	<li>Come back to FiddyFiddy and play with us!</li>
</ol>
<h4>Let's look at these 3 steps in greater detail...</h4>
<h4>Why the Brave browser?</h4>
<p>Simply put, Brave is a browser for the people. It blocks malicious ad trackers and pop-ups out-of-the-box and has it's own crypto token baked in called Basic Attention Token (BAT). Using BAT within Brave, you can actually get paid for watching ads in BAT and support your favorite websites by donating BAT to them. For more information about BAT, <a href="https://www.coinbase.com/earn/basic-attention-token" target="_blank">Coinbase</a> will pay to learn about it.</p>
<p></p>
<h4>How MetaMask lets you transact in crypto across the web</h4>

<h4>Buy Ether on Changelly using a bank card and send to MetaMask</h4>

<h4>Now you're ready to enter our contests</h4>
